{{#each items}}
<li class="friend" draggable="true" data-id="{{id}}">
    <div class="friend__avatar">
        <img src="{{photo_50}}">
    </div>
    <div class="friend__name">{{first_name}} {{last_name}}</div>
    <div class="button {{#if ../chosens}}button--close{{else}}button--add{{/if}}  button--friends ">
        <span class="button__line button__line-h"></span>
        <span class="button__line button__line-v"></span>
    </div>
</li>
{{/each}}
